@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}
h1,li, a, button{
    font-family: "Press Start 2P",sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    color: rgb(139, 195, 245);

}
h1{
    font-size: 25px;
    color: #e4c1f9;
}

body{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav-links{
    list-style: none;

}
.nav-links li{
    display:inline-block;
    padding:0px 20px;

}

.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color:#f0a9b9
}

button{
    margin-left: 20px;
    padding:9px;
    background-color: #a9def9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color:white;
}
button:hover{
    background-color: rgb(182, 236, 236);
}